{% extends "base.html" %}
{% block title %}Crear encuesta{% endblock %}

{% block css_links %}
<link rel="stylesheet" type="text/css" href="/static/css/crear_encuesta.css">
<link rel="stylesheet" type="text/css" href="/static/css/sweetalert.css?123">
{% endblock %}

{% block breadcum %}
    <li ng-repeat="crumb in crumbs" class="ng-scope"><a ui-sref="front.section( crumb.params )" ui-sref-opts="{ inherit : false }" class="ng-binding" href="/encuestas/administrador/">Encuestas</a></li>
    <li ng-repeat="crumb in crumbs" class="ng-scope"><a ui-sref="front.section( crumb.params )" ui-sref-opts="{ inherit : false }" class="ng-binding" href="/encuestas/administrador/crear-encuesta/">Crear</a></li>
{% endblock %}

{% block session_menu %}
    {% if request.user.is_authenticated %}
        <li ng-class="{'active':category_id == undefined}" class="active">
            <a ui-sref="front.section({ section : section, category : null, category_id : null, section_id : section_id })" href="/encuestas/usuarios/logout/">
                <span ng-if="section == 'blog'" class="ng-scope">Salir</span>
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    <h2 class="section-title ng-binding">Crear</h2>
    <div>
        <form method="POST" action="." class="datos-encuesta">
            {% csrf_token %}
            <!-- <label link="titulo">Titulo</label> -->
            <div class="row">
                <div class="col-sm-8">
                    <div class="data-table">                
                        <input class="form-control" type="text" name="titulo" placeholder="Título de la encuesta">
                        <br>
                        <textarea rows="4" class="form-control" name="encabezado" placeholder="Descripción"></textarea>
                        <br>
                        <div class="text-right">
                            <label class="checkbox-inline">
                              <input type="checkbox" name="abierta"> Abierta
                            </label>
                            <label class="checkbox-inline">
                              <input type="checkbox" name="publicada"> Publicada
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <a  type="button"
                        id="nueva-pregunta"
                        tabindex="0"
                        class="btn btn-sq-sm btn-primary" 
                        role="button" 
                        data-trigger="focus">
                        +
                    </a>
                    
                    <div id="popover-content" class="hidden">
                      <div>
                        <a href="javascript:addQuestion('abierta');"  class="btn-abierta">Pregunta abierta</a>
                        <hr>
                        <a href="javascript:addQuestion('cerrada');" >Pregunta cerrada (4 opciones)</a>
                      </div>
                    </div>

                </div>
            </div>
            <!-- <label link="titulo">Encabezado</label> -->

            <!-- <label link="titulo">Abierta</label>
            <input type="checkbox" name="abierta">
            <label link="titulo">Publicada</label>
            <input type="checkbox" name="publicada"> -->
        </form>
        <br>

        <div class="preguntas"></div>
        
        <!-- <div class="preguntas">
            
            <div class="pregunta abierta">
                <p class="titulo">¿Esta es una buena prégunta?</p>
            </div>
            <div class="pregunta cerrada">
                <p class="titulo">¿Esta es una buena pregunta abiérta?</p>
                <ul class="opciones">
                    <li>Opcion 1</li>
                    <li>Opcion 2</li>
                    <li>Opcion 3</li>
                    <li>Opcion 4</li>
                </ul>
            </div>
            
        </div> -->

        <div class="row">
            <div class="col-sm-8">
                <button type="button" class="submit btn btn-primary">Publicar encuesta</button>
            </div>
        </div>

    </div>
{% endblock %}

{% block script_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="/static/js/sweetalert.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        function serializaForm($form){
            var arraySinIndexar = $form.serializeArray(),
                arrayIndexado = {};

            $.map(arraySinIndexar, function(n, i){
                arrayIndexado[n['name']] = n['value'];
            });

            return arrayIndexado;
        }

        function obtenPreguntas($divPreguntas){
            return $.map($divPreguntas.find("div.pregunta"), function(n, i){
                var pregunta = $(n).find('.titulo').val(),
                    tipoPregunta = $(n).hasClass('abierta') ? 'abierta' : 'cerrada',
                    opciones = tipoPregunta === 'cerrada' ? $.map($(n).find("ul.opciones li input"), function(a, b){ return $(a).val(); }) : [];
                console.log(opciones);
                return {'texto': pregunta, 'opciones': opciones}
            });
        }

        $(".submit").click(function(event){
            var formSerializado = serializaForm($("form.datos-encuesta"));
            formSerializado['preguntas'] = JSON.stringify(obtenPreguntas($("div.preguntas")));
            console.log(formSerializado['preguntas']);
            $.post(".", formSerializado).done(function(respuesta){
                console.log('post-->',respuesta);
                if (respuesta.estatus == "ok") {
                    swal({
                    confirmButtonText: "Cerrar",
                    title: "Éxito",
                    text: "La encuesta se guardó correctamente.",
                    type: "success"
                    },
                    function(){
                      window.location = "/encuestas/administrador/";
                    });
                } else {
                    swal({
                    confirmButtonText: "Aceptar",
                    title: "Error",
                    text: respuesta.error,
                    type: "error"
                    });
                }
                
            }).fail(function(respuesta){
                console.log('fail-->',respuesta);
            });
        });

        $(function(){

            // Popover nueva pregunta
            $("#nueva-pregunta").popover({
                html : true, 
                content: function() {
                  return $("#popover-content").html();
                }
            });
        
        });

        $(document).on("click",".delete-question", function () {
           var elementDelete = $(this).parent().parent().parent().parent(); // or var clickedBtnID = this.id
           console.log($(this).parent().parent().parent().parent());
           $(elementDelete).remove();
        });

    });

    //Agrega las preguntas dentro del contenedor .preguntas
    function addQuestion(tipo) {

        var openQuestion = '<div class="row tipo pregunta abierta"><div class="col-sm-8"><div class="data-table"><h5>Pregunta abierta</h5><input class="form-control titulo" type="text" name="pregunta_abierta" placeholder="Título de la pregunta"><br><div class="text-right"><a href="#" class="delete-question">Eliminar</a></div></div>&nbsp;</div></div>';

        var closeQuestion = '<div class="row tipo pregunta cerrada"><div class="col-sm-8"><div class="data-table"><h5>Pregunta cerrada</h5><input class="form-control titulo" type="text" name="pregunta_cerrada" placeholder="Título de la pregunta"><br><h5>Respuestas</h5><ul class="opciones"><li><input class="form-control" type="text" name="opcion1" placeholder="Opción 1"></li><li><input class="form-control" type="text" name="opcion2" placeholder="Opción 2"></li><li><input class="form-control" type="text" name="opcion3" placeholder="Opción 3"></li><li><input class="form-control" type="text" name="opcion4" placeholder="Opción 4"></li></ul><br><div class="text-right"><a href="#" class="delete-question">Eliminar</a></div></div>&nbsp;</div></div>';

        var toDom = "."+tipo;

        if (toDom == '.abierta') {
            var questionToDom = openQuestion;
        } else {
            var questionToDom = closeQuestion;
        };

        $( ".preguntas" ).each(function( event ) {

            var elements = document.getElementsByClassName('tipo').length;

            if ( elements < 2 ) {
            $(".preguntas").append(questionToDom);
            } else {
                swal({
                    type: "error",
                    title: "Error",
                    text: "Solo puede agregar 2 preguntas",
                    confirmButtonText: "Aceptar"
                })
                return false;
            }

        });
        
    };//End addQuestion

</script>
{% endblock %}
