{% extends "base.html" %}
{% block title %}Editar Encuesta {{encuesta.titulo}}{% endblock %}

{% block css_links %}
<link rel="stylesheet" type="text/css" href="/static/css/crear_encuesta.css">
{% endblock %}

{% block breadcum %}
    <li ng-repeat="crumb in crumbs" class="ng-scope"><a ui-sref="front.section( crumb.params )" ui-sref-opts="{ inherit : false }" class="ng-binding" href="/encuestas/administrador/">Encuestas</a></li>
    <li ng-repeat="crumb in crumbs" class="ng-scope"><a ui-sref="front.section( crumb.params )" ui-sref-opts="{ inherit : false }" class="ng-binding" href="/encuestas/administrador/editar-encuesta/{{encuesta.slug}}/">{{encuesta.titulo}}</a></li>
{% endblock %}

{% block session_menu %}
    {% if request.user.is_authenticated %}
        <li ng-class="{'active':category_id == undefined}" class="active">
            <a ui-sref="front.section({ section : section, category : null, category_id : null, section_id : section_id })" href="/encuestas/usuarios/logout/">
                <span ng-if="section == 'blog'" class="ng-scope">Salir</span>
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    <h2 class="section-title ng-binding">Editar</h2>
    <div>
        <form method="POST" action="." class="datos-encuesta">
            {% csrf_token %}
            <label link="titulo">Titulo</label>
            <input type="text" name="titulo" value="{{encuesta.titulo}}">
            <label link="encabezado">Encabezado</label>
            <input type="text" name="encabezado" value="{{encuesta.encabezado}}">
            <label link="abierta">Abierta</label>
            {{encuesta.abierta}}
            <input type="checkbox" name="abierta" {% if encuesta.abierta == True %}checked{% endif %}>
            <label link="publicada">Publicada</label>
            <input type="checkbox" name="publicada" {% if encuesta.publicada == True %}checked{% endif %}>
        </form>
        <h3>Preguntas</h3>
        <a class="nuevapregunta">+</a>
        <div class="preguntas">
            {% for pregunta in encuesta.preguntas %}
                <div class="pregunta {% if pregunta.opciones %}cerrada{% else %}abierta{% endif %}">
                    <p class="titulo">{{pregunta.texto}}</p>
                    {% if pregunta.opciones %}
                        <ul class="opciones">
                            {% for opcion in pregunta.opciones %}
                                <li>{{opcion}}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <a class="submit">Enviar</a>
    </div>
{% endblock %}

{% block script_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        function serializaForm($form){
            var arraySinIndexar = $form.serializeArray(),
                arrayIndexado = {};

            $.map(arraySinIndexar, function(n, i){
                arrayIndexado[n['name']] = n['value'];
            });

            return arrayIndexado;
        }

        function obtenPreguntas($divPreguntas){
            return $.map($divPreguntas.find("div.pregunta"), function(n, i){
                var pregunta = $(n).find('p.titulo').text(),
                    tipoPregunta = $(n).hasClass('abierta') ? 'abierta' : 'cerrada',
                    opciones = tipoPregunta === 'cerrada' ? $.map($(n).find("ul.opciones li"), function(a, b){ return $(a).text(); }) : [];

                return {'texto': pregunta, 'opciones': opciones}
            });
        }

        $("a.submit").click(function(event){
            var formSerializado = serializaForm($("form.datos-encuesta"));
            formSerializado['preguntas'] = JSON.stringify(obtenPreguntas($("div.preguntas")));
            console.log(formSerializado['preguntas']);
            $.post(".", formSerializado).done(function(respuesta){
                console.log(respuesta);
                
            }).fail(function(respuesta){
                console.log(respuesta);
            });
        });
    });
</script>
{% endblock %}
