{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}
  Resultados: {{encuesta.titulo}}
{% endblock %}

{% block style_contenedor %}style="margin-bottom: 30px;"{% endblock%}

{% block css_links %}
    <link rel="stylesheet" type="text/css" href="{% static "css/barchart.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/resultados-encuestas.css" %}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}

{% block breadcum %}
    <li ng-repeat="crumb in crumbs" class="ng-scope"><a ui-sref="front.section( crumb.params )" ui-sref-opts="{ inherit : false }" class="ng-binding" href="/encuestas/administrador/">Encuestas</a></li><!-- end ngRepeat: crumb in crumbs -->
    <li ng-repeat="crumb in crumbs" class="ng-scope"><a ui-sref="front.section( crumb.params )" ui-sref-opts="{ inherit : false }" class="ng-binding" href="/encuestas/administrador/editar-encuesta/{{encuesta.slug}}/">{{encuesta.titulo}}</a></li>
{% endblock %}

{% block content %}
    <h2 class="section-title ng-binding">Resultados: {{encuesta.titulo}}</h2>
    <!-- Tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#preguntas-cerradas">Preguntas cerradas</a></li>
        <li><a data-toggle="tab" href="#preguntas-abiertas">Preguntas abiertas</a></li>
    </ul>

    <!-- Tabs content -->
    <div class="tab-content" style="margin-bottom: 30px;">
      <div id="preguntas-cerradas" class="tab-pane fade active in">

        <div class="col-xs-12 padding-charts">
              <!-- Contenedor de gráfica -->
              <div id="bar-chart1"></div>
        </div>
        <br>
        <div class="col-xs-12">
          <!-- Contenedor de gráfica 2 -->
          <div id="bar-chart2"></div>
        </div>

      </div>
      <div id="preguntas-abiertas" class="tab-pane">
          {% for pregunta,respuestas in encuesta.devuelve_respuestas.items %}
              {% if respuestas.abierta %}
                <div class="col-xs-12 padding-charts">
                  <h4><strong>{{pregunta}}</strong></h4>
                  <ol class="list-group">
                      {% for respuesta in respuestas.valores %}
                          <li class="list-group-item"><p>{{respuesta}}</p></li>
                      {% endfor %}
                  </ol>
                </div>
              {% endif %}
          {% endfor %}
      </div>
    </div>
    
{% endblock %}

{% block script_js %}
    <!-- d3 Chart -->
    <script src="{% static "js/d3.min.js" %}"></script>
    <script src="{% static "js/d3plus.min.js" %}"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Google Charts -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <!-- Custom JS -->
    <script type="text/javascript">
          google.charts.load('current', {packages:['corechart','bar']});
          google.charts.setOnLoadCallback(drawChart);

          function drawChart() {

            {% for pregunta in encuesta.devuelve_respuestas_cerradas.valores %}
              var data{{forloop.counter}} = google.visualization.arrayToDataTable(
                {% autoescape off %}
                {{pregunta.valoresarray}}
                  
                {% endautoescape %}
              );              

            var options{{forloop.counter}} = {
              hAxis: {
                title: '{{pregunta.label}}',
                titleTextStyle: {
                  fontSize: 14,
                  color: '#424242',
                  bold: true,
                  italic: false,
                  padding: 20
                }
              },
              vAxis: {
                title: 'No. de respuestas',
                titleTextStyle: {
                  fontSize: 14,
                  color: '#424242',
                  bold: true,
                  italic: false
                },
                gridlines: {
                  color: '#FFFFFF',
                  count: -1
                }
              },
              legend: { position: "none" },
              colors: [ "#00cc99", "#ff6666", "#663399", "#474747"]
            };

            {% endfor %}

            var chart1 = new google.visualization.ColumnChart(document.getElementById('bar-chart1'));
            chart1.draw(data1, options1);

            if (typeof data2 !== 'undefined'){
              var chart2 = new google.visualization.ColumnChart(document.getElementById('bar-chart2'));
              chart2.draw(data2, options2);
            }
          };

    </script>


{% endblock %}