{% extends "base.html" %}
{% load static from staticfiles %}

{% block css_links %}
    <link rel="stylesheet" type="text/css" href="{% static "css/barchart.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/resultados-encuestas.css" %}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}

{% block breadcum %}
    <li ng-repeat="crumb in crumbs" class="ng-scope"><a ui-sref="front.section( crumb.params )" ui-sref-opts="{ inherit : false }" class="ng-binding" href="/encuestas/administrador/">Encuestas</a></li><!-- end ngRepeat: crumb in crumbs -->
    <li ng-repeat="crumb in crumbs" class="ng-scope"><a ui-sref="front.section( crumb.params )" ui-sref-opts="{ inherit : false }" class="ng-binding" href="/encuestas/administrador/editar-encuesta/{{encuesta.slug}}/">{{encuesta.titulo}}</a></li>
{% endblock %}

{% block content %}
    <h2 class="section-title ng-binding">Resultados: {{encuesta.titulo}}</h2>
    <!-- Tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#preguntas-cerradas">Preguntas cerradas</a></li>
        <li><a data-toggle="tab" href="#preguntas-abiertas">Preguntas abiertas</a></li>
    </ul>

    <!-- Tabs content -->
    <div class="tab-content">
      <div id="preguntas-cerradas" class="tab-pane fade {% if not respuestas.abierta %}in active{% else %}{% endif %}">

        <div class="col-xs-12">
              <!-- Contenedor de gráfica -->
              <div id="bar-chart1"></div>
              <div class="svgLegend4">
                  <div class="legend4"></div>
              </div>
        </div>
        <br>
        <div class="col-xs-12">
          <!-- Contenedor de gráfica 2 -->
          <div id="bar-chart2"></div>
          <div class="svgLegend4_2">
              <div class="legend4_2"></div>
          </div>
        </div>

      </div>
      <div id="preguntas-abiertas" class="tab-pane fade {% if not respuestas.cerradas %}in active{% else %}{% endif %}">
          {% for pregunta,respuestas in encuesta.devuelve_respuestas.items %}
              {% if respuestas.abierta %}
                  <p>{{pregunta}}</p>
                  <ul>
                      {% for respuesta in respuestas.valores %}
                          <li>{{respuesta}}</li>
                      {% endfor %}
                  </ul>
              {% endif %}
          {% endfor %}
      </div>
    </div>
    
{% endblock %}

{% block script_js %}
    <!-- d3 Chart -->
    <script src="{% static "js/d3.min.js" %}"></script>
    <script src="{% static "js/d3plus.min.js" %}"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Google Charts -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <!-- Custom JS -->
    <script type="text/javascript">
      {% autoescape off %}
        jsonBarchart = {{encuesta.devuelve_respuestas_cerradas}};
        jsonBarchart2 = {{encuesta.devuelve_respuestas_cerradas}};
      {% endautoescape %}

      console.log(jsonBarchart);
      ///// BarChart
          //google.charts.load('current', {packages: ['corechart','bar']});
          google.charts.load('current', {'packages':['corechart','bar']});
          google.charts.setOnLoadCallback(drawChart);
          function drawChart() {

            var data1 = google.visualization.arrayToDataTable([
              ['Respuestas', 'valor'],
              ['Opcion 1', 3],
              ['Opcion 2', 8],
              ['Opcion 3', 2,],
              ['Opcion 4', 8,]
            ]);

            var data2 = google.visualization.arrayToDataTable([
              ['Respuestas', 'valor'],
              ['Opcion 1', 7],
              ['Opcion 2', 12],
              ['Opcion 3', 3],
              ['Opcion 4', 8,]
            ]);

            var options = {
              legend: { position: "none" },
              colors: [ "#00cc99", "#ff6666", "#663399", "#474747"]
            };

            var chart1 = new google.charts.Bar(document.getElementById('bar-chart1'));
            chart1.draw(data1, options);
            var chart2 = new google.charts.Bar(document.getElementById('bar-chart2'));
            chart2.draw(data2, options);

          };

    </script>


{% endblock %}