{% extends "base.html" %}

{% block title_page %}Cambio de password{% endblock %}

{% block content %}
    <h1>Cambio de password</h1>
    {% if message %}
        <p>Se ha cambiado tu password.</p>
        <p><a href="/usuarios/login/">Logueate</a></p>
    {% else %}
        <div>
            {% if error %}
                <p>{{error}}</p>
            {% endif %}
            {{ form.non_field_errors }}
            <form action="." method="POST">
                {% csrf_token %}
                {{form}}
                <input type="submit" value="Continuar">
            </form>
        </div>
    {% endif %}
{% endblock %}