{% extends "base.html" %}

{% block title_page %}Solicitar cambio de password{% endblock %}

{% block content %}
    <h1>Solicitar cambio</h1>
    <div>
        {% if error %}
            <p>{{error}}</p>
        {% endif %}
        {{ form.non_field_errors }}
        <form action="." method="POST">
            {% csrf_token %}
            {{form}}
            <input type="submit" value="Continuar">
        </form>
        {% if link %}
            <a href="{{link}}">{{link}}</a>
        {% endif %}
    </div>
{% endblock %}